{% extends "base.html" %}

{% block header %}
  <hgroup class="blog-main-heading">
    <h1 class="display-1 text-center">{{SITENAME}}</h1>
    <h2 class="tagline text-center">{{TAGLINE}}</h2>
  </hgroup>
{% endblock %}

{% block content %}
  <section id="content">

      {% for article in articles_page.object_list %}

        <div class="card">
          <div class="card-header">
            <div class="row justify-content-between">
            <div>
            {{ article.date.strftime("%d.%m.%Y") }} // By <span class="text-muted">  {% for author in article.authors %}<a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>{% endfor %}</span>
            </div>
            {% if article.tags|length > 0 %}
              <div>
              Tags:  <span class="text-muted">{% for tag in article.tags %} <a href="{{SITEURL}}/{{tag.url}}">{{tag}}</a>{% endfor %}</span>
              </div>
            {% endif %}
            </div>
          </div>
          <div class="card-block">

        <article class="hentry">
          <header class="article-list">
            <h2>
              <a class="h2-responsive" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="link to {{ article.title|striptags }}">{{ article.title }}</a>
            </h2>
          </header>
          <div class="entry-content"> {{ article.summary }}</div><!-- /.entry-content -->
        </article>

          </div>
        </div>

      {% endfor %}

  {% include 'pagination.html' %}
  </section><!-- /#content -->
{% endblock content %}
